/* Typography*/

@font-face {
    font-family: 'GraphicPixel';
    src: url('assets/fonts/graphicpixel-webfont.eot');
    src: url('assets/fonts/graphicpixel-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/graphicpixel-webfont.woff') format('woff'), url('assets/fonts/graphicpixel-webfont.ttf') format('truetype'), url('assets/fonts/graphicpixel-webfont.svg#GraphicPixelRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AdvoCut';
    src: url('assets/fonts/advocut-webfont.eot');
    src: url('assets/fonts/advocut-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/advocut-webfont.woff') format('woff'), url('assets/fonts/advocut-webfont.ttf') format('truetype'), url('assets/fonts/advocut-webfont.svg#AndinaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*
 *  STYLE 4
 */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}



body {
    background: black;
    font-family: "AdvoCut";
    cursor: url('assets/img/hand.png'), auto;
}

canvas {
    cursor: url('assets/img/hand.png'), auto;
    outline: none;
}

#canvasholder {
    width: 1336px;
    margin: 0 auto;
    position: relative;
    cursor: url('assets/img/hand.png'), auto;
    outline: none;
}

.rounded-container {
    border: 2px solid white;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.4);
}

#menu-tray {
    width: auto;
    padding-right: 30px;
    height: 60px;
    position: absolute;
    top: 7px;
    right: 7px;
    user-select: none;
}

    #menu-tray .menu-bar {
        height: 100%;
    }


        #menu-tray .menu-bar .icon-holder {
            height: 100%;
        }



            #menu-tray .menu-bar .icon-holder .menu-item {
                width: 40px;
                height: 40px;
                display: inline-block;
                background-size: contain;
                margin: 12px -8px 12px 12px;
            }

            #menu-tray .menu-bar .icon-holder .menu-item-backpack {
                background-image: url("assets/img/chest.png");
            }

            #menu-tray .menu-bar .icon-holder .menu-item-equip {
                background-image: url("assets/img/sword.png");
            }

            #menu-tray .menu-bar .icon-holder .menu-item-skills {
                background-image: url("assets/img/book.png");
            }

            #menu-tray .menu-bar .icon-holder .menu-item-achievements {
                background-image: url("assets/img/achi.png");
            }

                 #menu-tray .menu-bar .icon-holder .menu-item-settings {
                background-image: url("assets/img/settings.png");
            }




#character-status {
    width: 300px;
    height: 100px;
    position: absolute;
    top: 7px;
    left: 7px;
}



    #character-status .labels {
        width: 100%;
        height: 20%;
        color: white;
        margin-bottom: 10px;
    }

    #character-status .bars {
        width: 100%;
        height: 20%;
        color: white;
    }

    .vital-bar {
        width: 90%;
        height: 20px;
        margin: 0 auto;
        padding-top: 4px;
        padding-left: 5px;
        background-color: transparent;
        border: 2px solid black;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
    }

    .vital-bar-fill {
        width: 100%;
        background-color: red;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding-left: 5px;
        padding-top: 5px;
        -webkit-border-top-right-radius: 8px;
        -webkit-border-bottom-right-radius: 8px;
        -moz-border-radius-topright: 8px;
        -moz-border-radius-bottomright: 8px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        transition: width 0.75s;
    }


.label-left {
    float: left;
    text-align: left;
    padding-left: 15px;
    padding-top: 5px;
}

.label-right {
    float: right;
    text-align: right;
    padding-right: 15px;
    padding-top: 5px;
}




#overlay {
    position: absolute;
    bottom: 30px;
    width: 390px;
    height: 270px;
    background-color: rgba(0, 0, 0, 0);
    font-family: "AdvoCut";
    color: white;
    margin-left: 5px;
    margin-bottom: 5px;
}

#bottombar {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column; /* column | row */
}


    #bottombar .status-bar {
        height: 80%;
    }




    #bottombar .top-bar {
        height: 100%;
        width: 100%;
        background-color: purple;
        font-size: 12px;
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 3px solid black;
        border-radius: 3px;
    }

    #bottombar .skillbar {
        width: 49%;
        height: 100%;
        text-align: left;
        display: inline-block;
        display: none;
    }

    #bottombar .menu-bar {
        width: 49%;
        height: 100%;
        display: inline-block;
        float: right;
        margin-right: 5px;
    }




.vertical-text {
    transform: rotate(90deg);
    transform-origin: left top 0;
    display: inline-block;
}

#bottombar .skillbar .skillslot {
    width: 40px;
    height: 43px;
    text-align: left;
    display: inline-block;
    float: left;
    padding-left: 8px;
    padding-top: 5px;
    background-image: url("assets/hud/slot.png");
    background-repeat: no-repeat;
}



#chatlog {
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    font-family: "AdvoCut";
    color: yellow;
    padding-left: 15px;
    padding-top: 15px;
    line-height: 20px;
    border: none;
    height: 220px;
    padding-right: 8px;
}

    #chatlog:hover {
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: rgba(0, 0, 0, 0.4);
    }

.chatline {
    margin-bottom: 2px;
    margin-top: 0px;
    font-size: 14px;
    font-family: "Rockwell";
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.chatname {
    color: white;
}

#chatmessage {
    width: 83%;
    padding-right: 50px;
    background-color: rgba(122, 0, 0, 0.6);
    outline: none;
    border: 1px solid white;
    font-family: "Rockwell";
    color: white;
    padding-left: 15px;
    border-radius: 4px;
    font-size: 14px;
    height: 30px;
    background-image: url("assets/img/chat.png");
    background-position: center right;
    background-repeat: no-repeat;
}

#gameContainer {
    position: relative;
}

#controls {
    bottom: 0;
    left: 0;
    width: 1336px;
    height: 50px;
    text-align: center;
    background: #333333;
    border-color: #a9a9a9;
    border-width: 1px;
    border-style: solid;
}


/*
    
  Quest list stuff

*/

#quest-list-window {
    width: 520px;
    height: 420px;
    background-color: rgba(9, 22, 27, 0.9);
    overflow: hidden;
}

    #quest-list-window .contentwrapper {
        width: 100%;
        height: 100%;
    }

    #quest-list-window .quest-list {
        width: 180px;
        height: 100%;
        border-right: 2px solid lightgray;
        padding-right: 12px;
        float: left;
        color: white;
        text-align: left;
    }

        #quest-list-window .quest-list h3 {
            padding-left: 15px;
            margin-bottom: 0px;
        }

        #quest-list-window .quest-list h4 {
            padding-left: 15px;
            margin-bottom: 0px;
            color: yellow;
            margin: 17px -12px 0px -6px;
        }

        #quest-list-window .quest-list ul {
            list-style-type: none;
            -webkit-padding-start: 12px;
            text-align: left;
            margin-top: 10px;
        }

        #quest-list-window .quest-list li {
            color: white;
            font-size: 14px;
            text-align: left;
            line-height: 28px;
            width: auto;
            white-space: nowrap;
        }

.quest-list-selected {
    background-color: rgba(22, 122, 111, 0.7);
}

#quest-list-window .quest-list li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}




#quest-list-window .quest-content {
    width: 265px;
    color: white;
    padding: 30px 30px 30px 30px;
    float: right;
}

    #quest-list-window .quest-content h2 {
        text-align: center;
    }

    #quest-list-window .quest-content .description {
        width: 95%;
        font-size: 16px;
    }

    #quest-list-window .quest-content .task {
        width: 95%;
        font-size: 16px;
        margin-top: 30px;
        color: yellow;
    }

#skill-window {
    width: 480px;
    height: 300px;
    background-color: rgba(9, 22, 27, 1);
    overflow: hidden;
}

#setting-window {
    width: 480px;
    height: 300px;
    background-color: rgba(9, 22, 27, 0.9);
    overflow: hidden;
    font-size: 12px;
}

#setting-window .tab-wrapper {
    height: 90%;
}

#setting-window .strip-wrapper {
    height: 10%;
    color: white;
    padding-left: 10px;
}

  #skill-window .contentwrapper {
        width: 480px;
        height: 100%;
        overflow: overlay;
 }

$



    #skill-window .quest-list {
        width: 120px;
        height: auto;
        padding-right: 12px;
        float: left;
        color: white;
        text-align: left;
    }

        #skill-window .quest-list h3 {
            padding-left: 15px;
            margin-bottom: 0px;
            padding-bottom: 4px;
            font-size: 18px;
            border-bottom: 2px solid lightgray;
        }

        #skill-window .quest-list h4 {
            font-size: 14px;
            color: lightblue;
            margin: 17px -12px 0px 16px;
        }

            #skill-window .quest-list h4:hover {
                color: yellow;
            }

        #skill-window .quest-list ul {
            list-style-type: none;
            -webkit-padding-start: 12px;
            text-align: left;
            margin-top: 10px;
        }

        #skill-window .quest-list li {
            color: white;
            font-size: 14px;
            text-align: left;
            line-height: 28px;
            width: auto;
            white-space: nowrap;
        }

.skill-selected {
    background-color: #02e8dc;
}

#skill-window .skillrow:hover {
    color: yellow;
}




#skill-window .quest-content {
    width: 345px;
    color: white;
    min-height: 100%;
    padding-top: 15px;
    float: right;
    overflow: scroll;
    border-left: 2px solid lightgray;
    position: relative;
}

#skill-window .skillrow {
    width: 75%;
    padding-left: 10px;
    position: relative;

}

#skill-window .skill-description {
        position: absolute;
        bottom: -30px;
        padding-bottom: 5px;
        left: 55px;
    display: none;
}

#skill-window .skill-description:hover {

    visibility: hidden;
}


.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


    #skill-window .skillrow .skillinfo {
        position: absolute;
        right: 0;
        bottom: 0;
            padding-bottom: 5px;
    }

    #skill-window .skillrow .skillname {
        position: absolute;
        bottom: 0;
        padding-bottom: 5px;
        left: 55px;
        
    }

    #skill-window .skillrow .skillicon {
        width: 34px;
        height: 34px;
        display: inline-block;
            padding-bottom: 0px;
    }


#skill-window .header {
    width: 90%;
    margin: 0 auto;
    background-color: black;
    border: 2px solid lightgray;
    color: white;
    text-align: center;
    padding: 12px 12px 12px 12px;
    margin-top: 12px;
    margin-bottom: 24px;
}


#skill-window .skill-item {
    width: 48px;
    height: 48px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid gray;
    background-color: rgba(9, 22, 27, 1);
    margin: 0;
}


/*
    Quest window stuff begins here
 */

#quest-window {
    width: 600px;
    height: 350px;
    background-color: rgba(9, 22, 27, 0.9);
    overflow: hidden;
    font-family: "AdvoCut";
}



    #quest-window .quest-header {
        border-radius: 33px;
        width: 90%;
        margin: 10px auto;
        height: 40px;
        font-size: 28px;
        background-color: black;
        border: 2px solid grey;
        color: white;
        padding-top: 12px;
        text-align: center;
    }

    #quest-window .chat-bubble {
        width: 90%;
        margin-left: 10px;
        background-color: #333333;
        height: 40%;
        font-size: 18px;
        color: white;
        border: 3px solid #4d5353;
    }

    #quest-window .action-bar {
        margin: 0 auto;
        text-align: center;
    }

        #quest-window .action-bar .action-button {
            padding: 10px 20px 10px 20px;
            color: yellow;
            background-color: #910600;
            border: 3px solid white;
            border-radius: 12px;
            text-align: center;
            margin-right: 5px;
        }

            #quest-window .action-bar .action-button:hover {
                opacity: 0.8;
            }

            #quest-window .action-bar .action-button:active {
                position: relative;
                top: 3px;
                border-color: black;
                box-shadow: none;
            }

    #quest-window .quest-giver {
        background-image: url("assets/img/quest_icon.png");
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        z-index: 2;
        left: 60px;
        top: 280px;
        width: 46px;
        height: 70px;
    }



    #quest-window .chat-bubble:after {
        border-color: #333333 transparent;
    }

/* Inventory stuff starts here, have fun! */

#inventorydialog, #quest-dialog, #skill-dialog, #quest-list-dialog, #settings-dialog {
    padding: 0px;
        font-family: "AdvoCut";
}

#quest-list-dialog {

}

#itemback {
    background-color: transparent;
    color: white;
    width: 240px;
    overflow: hidden;
    font-size: 0; /* removes the whitespace */
}

.item {
    background: url("assets/hud/inventory/images/item.png") no-repeat center;
    width: 34px;
    height: 34px;
    margin: 6px 6px 6px 6px;
    background-repeat: no-repeat;
}

.itemtext {
    color: yellow;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.itemslot {
    background-image: url("assets/hud/inventory/images/item_slot.png");
    width: 48px;
    height: 48px;
    display: inline-block;
}

.itemcurrencycontainer {
    background: transparent;
    width: 100%;
    bottom: 0;
    font-size: 24px;
    background: #4c4c4c; /* Old browsers */
    background: -moz-linear-gradient(top, #4c4c4c 0%, #474747 0%, #111111 0%, #2c2c2c 1%, #666666 4%, #595959 12%, #2b2b2b 47%, #1c1c1c 100%, #131313 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(0%,#474747), color-stop(0%,#111111), color-stop(1%,#2c2c2c), color-stop(4%,#666666), color-stop(12%,#595959), color-stop(47%,#2b2b2b), color-stop(100%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#474747 0%,#111111 0%,#2c2c2c 1%,#666666 4%,#595959 12%,#2b2b2b 47%,#1c1c1c 100%,#131313 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4c4c4c 0%,#474747 0%,#111111 0%,#2c2c2c 1%,#666666 4%,#595959 12%,#2b2b2b 47%,#1c1c1c 100%,#131313 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4c4c4c 0%,#474747 0%,#111111 0%,#2c2c2c 1%,#666666 4%,#595959 12%,#2b2b2b 47%,#1c1c1c 100%,#131313 100%); /* IE10+ */
    background: linear-gradient(to bottom, #4c4c4c 0%,#474747 0%,#111111 0%,#2c2c2c 1%,#666666 4%,#595959 12%,#2b2b2b 47%,#1c1c1c 100%,#131313 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
    border-radius: 4px;
}

.currencydisplay {
    background: url("assets/hud/inventory/images/currency_display.png") no-repeat;
    text-align: right;
    padding-right: 4px;
    color: yellow;
}

/* Inventory stuff ends here */





/* Character stuff */

#characterdialog {
    padding: 0px;
    width: 300px;
}

#characterpanel {
    height: 290px;
}

#equipmentpanel {
    height: 290px;
    width: 50px;
    float: left;
    background: rgba(47, 69, 95, 0.8);
    margin: 0 auto;
    text-align: center;
}

#statspanel {
    height: 290px;
    width: 230px;
    float: left;
    background: rgba(47, 69, 95, 0.8);
    color: white;
}

#equipslots {
    float: left;
    width: 50px;
}

#charactername {
    padding-top: 12px;
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
}

.statrow {
    text-align: left;
    width: 95%;
    padding-left: 8px;
    padding-top: 6px;
    font-size: 14px;
}

.statnumber {
    text-align: right;
    float: right;
    padding-right: 8px;
}



.equipmentslot {
    width: 48px;
    height: 48px;
    background-image: url("assets/hud/inventory/images/item_slot.png");
    overflow: hidden;
}

.weaponslot {
    background: url("assets/hud/character/images/weaponslot.png") no-repeat center;
    width: 48px;
    height: 48px;
}

.bodyslot {
    background: url("assets/hud/character/images/bodyslot.png") no-repeat center;
    width: 48px;
    height: 48px;
}

.headslot {
    background: url("assets/hud/character/images/headslot.png") no-repeat center;
    width: 48px;
    height: 48px;
}

.handsslot {
    background: url("assets/hud/character/images/handslot.png") no-repeat center;
    width: 48px;
    height: 48px;
}

.feetslot {
    background: url("assets/hud/character/images/feetslot.png") no-repeat center;
    width: 48px;
    height: 48px;
}


.backslot {
    background: url("assets/hud/character/images/backslot.png") no-repeat center;
    width: 48px;
    height: 48px;
}

.equipitem {
    background: center no-repeat;
    width: 34px;
    height: 34px;
    margin: 8px auto;
}


/*  Ttem tooltip stuff
    */

.ui-tooltip {
    margin: 0;
    background: transparent;
    border: none;
}

#itemtooltip {
    height: 180px;
    width: 350px;
    border: 1px solid #000000;
    margin: 0;
    display: flex;
    margin: 0;
    font: 14px Rockwell, sans-serif;
}

img {
    border-radius: 5px;
    display: block;
    margin: auto;
    padding-top: 15px;
}

#ItemPreview {
    height: 100%;
    width: 40%;
    margin: 0;
    float: left;
    background: rgba(40,74,87,1);
    background: linear-gradient(to bottom, rgba(40,74,87,0.9) 0%, rgba(40,74,87,0.9) 0%, rgba(3,38,37,0.9) 47%, rgba(12,75,77,0.9) 100%);
    color: #FFFFFF;
}

#IconHolder {
    height: 34px;
    width: 34px;
    background-color: #C8CBCC;
    border-radius: 10px;
    background: center no-repeat;
    margin: 0 auto;
    margin-top: 34px;
    image-rendering: crisp-edge;
}

#ItemNameContainer {
    width: auto;
    height: 15%;
    text-align: center;
    padding-top: 5px;
    margin: 0;
}

#ItemName {
    margin: 0;
}

#ItemIcon {
    width: auto;
    height: 50%;
    padding: 5px 5px 5px 11px;
    margin-bottom: 10px;
}

#ItemInfo {
    padding-top: 5px;
    text-align: center;
    margin: 0;
}

#ItemDescription {
    width: 60%;
    float: right;
    height: 99%;
    padding: 2px 2px 0px 2px;
    background: rgba(9,58,59,1);
    background: linear-gradient(to bottom, rgba(9,58,59,0.9) 0%, rgba(9,58,59,0.9) 0%, rgba(3,26,25,0.9) 47%, rgba(9,58,59,0.9) 100%);
}

    #ItemDescription p {
        -webkit-margin-before: 0px;
        -webkit-margin-after: 0px;
    }

#ItemStats {
    margin-top: 10px;
    color: #FFFFFF;
}

#ItemDescription .ItemDesc {
    color: #7691A0;
}

#ItemStats .ItemType, .ItemDamage {
    padding: 0;
}

#Itemlevel, #ItemTypex {
    margin: 0;
}









.tabs input[type=radio] {
          position: absolute;
          top: -9999px;
          left: -9999px;
      }
      .tabs {
        width: 650px;
        float: none;
        list-style: none;
        position: relative;
        padding: 0;
        margin: 0 auto;
      }
      .tabs li{
        float: left;
      }
      .tabs label {
          display: block;
          padding: 10px 20px;
          border-radius: 2px 2px 0 0;
          color: gray;
          font-size: 14px;
          font-weight: normal; 
          background: rgba(255,255,255,0.1);
          cursor: pointer;
          position: relative;
          top: 5px;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
      }
      .tabs label:hover {
        background: rgba(255,255,255,0.05);
      }
       
      [id^=tab]:checked + label {
        background: black;
        color: white;
 
      }
       
      [id^=tab]:checked ~ [id^=tab-content] {
          display: block;
      }
      .tab-content{
        z-index: 2;
        display: none;
        text-align: left;
        width: 73%;
        font-size: 16px;
        line-height: 140%;
        padding-top: 10px;
        background: rgba(0, 0, 0, 0.3);
        padding: 15px;
        color: white;
        position: absolute;
        top: 39px;
        left: 0;
        box-sizing: border-box;
        -webkit-animation-duration: 0.5s;
        -o-animation-duration: 0.5s;
        -moz-animation-duration: 0.5s;
        animation-duration: 0.5s;
          height: 225px;
          padding-right: 12px;
      }

input[type=checkbox].css-checkbox {
 position: absolute; 
 overflow: hidden; 
 clip: rect(0 0 0 0); 
 height:1px; 
 width:1px; 
 margin:-1px; 
 padding:0;
 border:0;
 }

 input[type=checkbox].css-checkbox + label.css-label {
 padding-left:20px;
 height:15px; 
 display:inline-block;
 line-height:15px;
 background-repeat:no-repeat;
 background-position: 0 0;
 font-size:15px;
 vertical-align:middle;
 cursor:pointer;
 }

 input[type=checkbox].css-checkbox:checked + label.css-label {
 background-position: 0 -15px;
 }

 .css-label{ background-image:url(http://csscheckbox.com/checkboxes/dark-check-cyan.png); }


/* .squaredThree */
.squaredThree {
  width: 20px;
  position: relative;  
}
.squaredThree label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: -moz-linear-gradient(top, #222222 0%, #45484d 100%);
  background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
    padding: 0;
}
.squaredThree label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.squaredThree label:hover::after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
.squaredThree input[type=checkbox] {
  visibility: hidden;
}
.squaredThree input[type=checkbox]:checked + label:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* end .squaredThree */



.btn-custom {
  background: gray;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  text-decoration: none;
}

.btn-custom:hover {
    opacity: 0.9;
}

select {
  background-color: gray;
  background-repeat:no-repeat;
  background-position: right 10px top 15px;
  background-size: 16px 16px;
  color:white;
  padding: 3px 3px 3px 3px;
  width:auto;
  font-family:arial,tahoma;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-align:center;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-appearance: none;
  border:0;
  outline:0;
  -webkit-transition:0.3s ease all;
	   -moz-transition:0.3s ease all;
	    -ms-transition:0.3s ease all;
	     -o-transition:0.3s ease all;
	        transition:0.3s ease all;
}

select:focus, select:active {
  border:0;
  outline:0;
}