/* Typography*/

@font-face {
    font-family: 'GraphicPixel';
    src: url('assets/fonts/graphicpixel-webfont.eot');
    src: url('assets/fonts/graphicpixel-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/graphicpixel-webfont.woff') format('woff'), url('assets/fonts/graphicpixel-webfont.ttf') format('truetype'), url('assets/fonts/graphicpixel-webfont.svg#GraphicPixelRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AdvoCut';
    src: url('assets/fonts/advocut-webfont.eot');
    src: url('assets/fonts/advocut-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/advocut-webfont.woff') format('woff'), url('assets/fonts/advocut-webfont.ttf') format('truetype'), url('assets/fonts/advocut-webfont.svg#AndinaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    background: black;
 font-family: "AdvoCut";
}

canvas {
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

#overlay {
    position: absolute;
    bottom: 0px;
    width: 390px;
    height: 270px;
    background-color: rgba(0, 0, 0, 0);
    font-family: "AdvoCut";
    color: white;
    margin-left: 5px;
    margin-bottom: 5px;
}

#chatlog {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: "AdvoCut";
    color: yellow;
    padding-left: 15px;
    padding-top: 15px;
    line-height: 20px;
    border: none;
}

#chatmessage {
    width: 100%;
    background-color: rgba(122, 0, 0, 0.5);
    outline: none;
    border: 1px solid white;
    font-family: "AdvoCut";
    color: white;
    padding-left: 15px;
    border-radius: 4px;
    font-size: 12px;
}

#gameContainer {
    position: relative;
}

#controls {
    bottom: 0;
    left: 0;
    width: 1336px;
    height: 50px;
    text-align: center;
    background: #333333;
    border-color: #a9a9a9;
    border-width: 1px;
    border-style: solid;
}


/* Inventory stuff starts here, have fun! */

#inventorydialog {
    padding: 0px;

}


#itemback {
    background-color: transparent;
    color: white;
    width: 240px;
    overflow: hidden;
    font-size: 0; /* removes the whitespace */
}

.item {
    background: url("assets/hud/inventory/images/item.png") no-repeat center;
    width: 48px;
    height: 48px;
}

.itemslot {
    background-image: url("assets/hud/inventory/images/item_slot.png");
    width: 48px;
    height: 48px;
    display: inline-block;
}

.itemcurrencycontainer {
    background: transparent;
    width: 100%;
    bottom: 0;
    font-size: 24px;
    background: #4c4c4c; /* Old browsers */
    background: -moz-linear-gradient(top, #4c4c4c 0%, #474747 0%, #111111 0%, #2c2c2c 1%, #666666 4%, #595959 12%, #2b2b2b 47%, #1c1c1c 100%, #131313 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(0%,#474747), color-stop(0%,#111111), color-stop(1%,#2c2c2c), color-stop(4%,#666666), color-stop(12%,#595959), color-stop(47%,#2b2b2b), color-stop(100%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#474747 0%,#111111 0%,#2c2c2c 1%,#666666 4%,#595959 12%,#2b2b2b 47%,#1c1c1c 100%,#131313 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4c4c4c 0%,#474747 0%,#111111 0%,#2c2c2c 1%,#666666 4%,#595959 12%,#2b2b2b 47%,#1c1c1c 100%,#131313 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4c4c4c 0%,#474747 0%,#111111 0%,#2c2c2c 1%,#666666 4%,#595959 12%,#2b2b2b 47%,#1c1c1c 100%,#131313 100%); /* IE10+ */
    background: linear-gradient(to bottom, #4c4c4c 0%,#474747 0%,#111111 0%,#2c2c2c 1%,#666666 4%,#595959 12%,#2b2b2b 47%,#1c1c1c 100%,#131313 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
    border-radius: 4px;
}

.currencydisplay {
    background: url("assets/hud/inventory/images/currency_display.png") no-repeat;
    text-align: right;
    padding-right: 4px;
}



 .ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid white;
  }
  .ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 12px "Helvetica Neue", Sans-Serif;

    box-shadow: 0 0 7px black;
 
    /*
        This is the actual tooltip itself
        */

      width: 300px;

      height: 120px;
             background: url("css/flick/images/texture.png");

  }
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {

  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }


/* Inventory stuff ends here */
