body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}


body {
  padding-top: 50px;
}
.starter-template {
    margin-top: 50px;
  padding: 40px 15px;
  text-align: center;
}

/*
    EDITOR CSS
    
    */

.editor-container {
    background-color: white;
}

.combobox {
    margin-left: 16px;
    margin-right: 16px;
}



/* you can also define the transition style
   on the base class as well (.repeat-item) */
.item-row.ng-enter,
.item-row.ng-leave {
  -webkit-transition:0.5s ease all;
  transition:0.5s ease all;
}

.item-row.ng-enter,
.item-row.ng-leave.ng-leave-active {
  opacity:0;
}
.item-row.ng-leave,
.item-row.ng-enter.ng-enter-active {
  opacity:1;
}