<div id="bottombar">

    <div class="top-bar">
        XP: 50%  1000/2000
    </div>

    <div class="status-bar">


        <div class="skillbar">
            <div class="skillslot">1</div>
            <div class="skillslot">1</div>
            <div class="skillslot">1</div>
            <div class="skillslot">1</div>
            <div class="skillslot">1</div>
            <div class="skillslot">1</div>

        </div>

        <div class="menu-bar">

            <div class="icon-holder">
                <div class="menu-item menu-item-backpack"></div>
                <div class="menu-item menu-item-equip"></div>
                <div class="menu-item menu-item-skills"></div>
                <div class="menu-item menu-item-achievements"></div>
            </div>


        </div>

    </div>



</div>