<div id="character-status" class="rounded-container">

    <div class="labels">

        <div class="label-left"></div>
        <div class="label-right">Adventurer</div>

    </div>

    <div class="bars">
        
        <div id="health-vital-bar" class="vital-bar">
            <span class="vital-bar-fill"></span>
            <span class="float-vital" style="position: absolute; right: 0"></span>
        </div>
        
        <div id="mana-vital-bar" class="vital-bar">
            <span class="vital-bar-fill" style="background-color: blue"></span>
            <span class="float-vital" style="position: absolute; right: 0"></span>
        </div>

    </div>

</div>  