<div id="panel-login" class="panel">
    <div class="spacer-xl">
        <div class="spacer"></div>
        <h1>Login</h1>
    </div>
    <div class="spacer"></div>
    <div class="entry" id="entry-username">
        <div class="label">Username:</div>
        <input id="username" type="text" name="username" />
    </div>
    <div class="spacer-xs"></div>
    <div class="entry" id="entry-password">
        <div class="label">Password:</div>
        <input id="password" type="password" name="password" />
    </div>
    <div class="spacer"></div>
    <div class="spacer">
        <div id="login-options" class="cbl">
            <span id="login-opt-user" class="login-opt" ng-click="rememberUsername($event)">
                <input id="remember-user" type="checkbox" value="false" />
                <label for="remember-user" class="cbl">Remember Username</label>
            </span>
            <span id="login-opt-pass" class="login-opt" ng-click="rememberPassword()">
                <input id="remember-pass" type="checkbox" value="false" />
                <label for="remember-pass" class="cbl">Remember Password</label>
            </span>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="rounded-container button" style="float: left; margin: 12px 0 0 120px;">Login</div>
    <div class="rounded-container button" style="float: right; margin: 12px 120px 0 0;">Register</div>
    <!--<div class="bars">
        <div id="health-vital-bar" class="vital-bar">
            <span class="vital-bar-fill" ng-style="{width: getVitalPercent(0) + '%'}"></span>
            <span class="float-vital" style="position: absolute; right: 0">{{getVitalLabel(0)}}</span>
        </div>

        <div id="mana-vital-bar" class="vital-bar">
            <span class="vital-bar-fill" style="background-color: blue" ng-style="{width: getVitalPercent(1) + '%'}"></span>
            <span class="float-vital" style="position: absolute; right: 0">{{getVitalLabel(1)}}</span>
        </div>
    </div>-->
</div>  