<div id="quest-list-window" class="rounded-container" ng-controller="QuestListController">

    <div class="contentwrapper">


        <div class="quest-list">

            <h3>Quests</h3>
            <h4>In Progress</h4>

            <ul>
                <li ng-repeat="quest in playerInfo.quests" ng-click="selectQuest($index)" ng-show="quest.state == 1" ng-class="{'quest-list-selected': selectedIndex == $index}">
                    {{quest.name}}
                </li>
            </ul>

            <h4 style='color: limegreen'>Complete</h4>

            <ul>
                <li ng-repeat="quest in playerInfo.quests" ng-click="selectQuest($index)" ng-show="quest.state == 2" ng-class="{'quest-list-selected': selectedIndex == $index}">
                    {{quest.name}}
                </li>
            </ul>


        </div>

        <div class="quest-content">
            <h2>{{selectedQuest.name}}</h2>

            <div class="description">{{selectedQuest.description}}</div>
            <div class="task" ng-show="currentTask"> > {{currentTask}}</div>
        </div>


    </div>

</div>