<div class="starter-template jumbotron">

    <div class="row">
        <div class="col-lg-12">

            <p class="lead">Filters</p>

            <div class="input-group">
                <span class="input-group-addon">Name</span>
                <input type="text" class="form-control" ng-model="search.name" placeholder="Something the items name may contain...">
                <span class="input-group-addon">Description</span>
                <input type="text" class="form-control" ng-model="search.description" placeholder="Something the items description may contain...">
                <span class="input-group-addon">Notes</span>
                <input type="text" class="form-control" ng-model="search.notes" placeholder="Something the items notes may contain...">
            </div>

            <br />

            <div class="input-group">

                <label>Item Type:</label>
                <select class="combobox">
                    <option value="All">All</option>
                    <option value="{{v}}" ng-repeat="v in itemTypes">
                        {{v}}
                    </option>
                </select>


                <label>Item Type:</label>
                <select class="combobox">
                    <option value="All">All</option>
                    <option value="{{v}}" ng-repeat="v in eqipmentSlots">
                        {{v}}
                    </option>
                </select>



            </div>



            <br />


      
            <!---Includes an index view here for us to use for viewing data, the actual data needs to be seeded from the main view though--->
            <content-index-directive index-container="itemContainer" filter="search"> <content-index-directive />




</div>
    </div>

</div>