<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DockPanelSuite" version="3.0.0-alpha8" targetFramework="net45" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.5" targetFramework="net45" />
  <package id="MySql.Data.Entities" version="6.8.3.0" targetFramework="net45" />
  <package id="MySql.Data.Entities.EF6" version="6.8.3" targetFramework="net45" />
  <package id="MySql.Data.Entity" version="6.9.5" targetFramework="net45" />
</packages>